*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}



h2{
text-align:center;
border-bottom:2px solid black;
padding-bottom:10px;
margin-bottom:20px;
}


/* Tab Container */

.tabs{
border:2px solid black;
padding:20px;
box-shadow:6px 6px 0px black;
}


/* Tab Links */

.tab-links{
list-style:none;
padding:0;
margin-bottom:15px;
border-bottom:2px solid black;
padding-bottom:10px;
}


/* Tab Buttons */

.tab-links li{
display:inline-block;
margin-right:10px;
}

.tab-links a{
text-decoration:none;
color:black;
border:2px solid black;
padding:6px 12px;
display:inline-block;
transition:0.2s;
}

.tab-links a:hover{
background:black;
color:white;
}

.activeTab{
background:rgb(137, 137, 137);
color:white;
}


.tab-content{
display:none;
border:2px solid black;
padding:20px;
margin-top:10px;
box-shadow:4px 4px 0px black;
}

